.example-spacer {
    flex: 1 1 auto;

  }
  .select-button .mat-select {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .select-button {
    position: relative;
  }
  /* mat-toolbar {
    display:flex;
    position: fixed;
   
    
} */
.example-toolbar{
    display:flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px, rgba(0, 0, 0, 0.12) 0px 1px 18px;

}
  