<div class="note-container">
  <div class="note-input-container">
    <div
      appClickAwayListener
      (clickAway)="onClickAway()"
      class="note-input-container__box"
    >
      <input
        [(ngModel)]="title"
        *ngIf="showTitle"
        class="note-input-container__box__input"
        type="text"
        matInput
        placeholder="Title"
      />
      <ckeditor
        (focus)="onFoucusEditor()"
        [editor]="Editor"
        [(ngModel)]="editorContent"
        [config]="editorConfig"
        (change)="onEditorChange($event)"
      ></ckeditor>
    </div>
  </div>
  <div class="note-list-container">
    <mat-grid-list
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
      cols="4"
      rowHeight="1:1"
      gutterSize="10px"
      class="example-list"
    >
      <mat-grid-tile
        class="example-box"
        *ngFor="let note of notes$ | async"
        (click)="onNoteClick(note?.id)"
        cdkDrag
        [cdkDragData]="note"
      >
        <mat-card class="note-card">
          <div class="note-card-content">
            <mat-card-header>
              <mat-card-title> {{ note.noteTitle || "" }} </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p [innerHTML]="note.noteDescription">
                {{ note.noteDescription }}
              </p>
            </mat-card-content>
          </div>
          <mat-divider></mat-divider>
          <mat-card-actions class="card-action">
            <button  mat-raised-button color="warn" (click)="onDelete(note.id)">Delete</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
