<div class="container">
  <div class="recycle-bin">
    <p class="">Empty recycle bin</p>
    <p (click)="onEmptyRecycleBin()" class="empty-bin">Empty Bin</p>
  </div>
  <div class="note-list-container">
    <mat-grid-list
      cols="5"
      rowHeight="1:1"
      gutterSize="10px"
      class="example-list"
    >
      <mat-grid-tile
        *ngFor="let note of deletedNotes$ | async"
        class="example-box"
      >
        <mat-card class="note-card">
          <mat-card-header>
            <mat-card-title> {{ note.noteTitle || "" }} </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p [innerHTML]="note.noteDescription">
              {{ note.noteDescription }}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
