.container{
    display: flex;
    flex-direction: column;

}
.recycle-bin{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}
.empty-bin{
    color: blue;
    margin-left: 20px;
    cursor: pointer;
}
.note-list-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .example-box {
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: move;
    font-size: 14px;
    border-radius: 4px;
    word-break: break-word;
  
  }
  
  .note-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 5px;
    margin-bottom: 5px ;
    background-color: rgb(228, 228, 228);
    overflow-y: auto;
    overflow-x: hidden;
  }