.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 20px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;

}