<mat-grid-list cols="4" rowHeight="1:1" gutterSize="5px">
  <mat-grid-tile>
    <div class="skeleton-loader"></div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="skeleton-loader"></div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="skeleton-loader"></div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="skeleton-loader"></div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="skeleton-loader"></div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="skeleton-loader"></div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="skeleton-loader"></div>
  </mat-grid-tile>
</mat-grid-list>
